
.html,body {
  font-family: var(--font-inter) !important;
  background-color: #F8F8F8 !important;

  
}

.card{
  border-radius: 25px !important;
}

.bg-gray{
  background-color: #d3d3d3;
}
@media only screen and (min-width : 1025px) {
  .card-hover{

      transition: all 0.2s ease;
      cursor: pointer;
      
  
    }
      
  
  
  .card-hover:hover{
  
      box-shadow: 5px 6px 6px 2px #e9ecef;
      transform: scale(1.1);
  }
}

