
.html,body {
  font-family: var(--font-inter) !important;
  background-color: #F8F8F8 !important;
  height: 100% !important; 

  
}
.container-fluid {
  height: 100% !important;
  overflow-y: hidden !important;  /* don't show content that exceeds my height */
}
main > .container-fluid {
  padding: 60px 15px 0;
}
.card{
  border-radius: 25px !important;
}

.bg-gray{
  background-color: #d3d3d3;
}
@media only screen and (min-width : 1025px) {
  .card-hover{

      transition: all 0.2s ease;
      cursor: pointer;
      
  
    }
      
  
  
  .card-hover:hover{
  
      box-shadow: 5px 6px 6px 2px #e9ecef;
      transform: scale(1.1);
  }
}

